# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/


*.xcworkspacedata

ManhattanEnglish.xcodeproj/project.xcworkspace/xcuserdata/Tanty.xcuserdatad/UserInterfaceState.xcuserstate

ManhattanEnglish.xcodeproj/xcuserdata/Tanty.xcuserdatad/xcschemes/ManhattanEnglish.xcscheme
